.container{
    padding: 1rem;
    color: #fff;
}

.center {
    text-align: center;
}

.container .content {
    max-width: 26.25rem;
    background-color: #0f0f0f;
    margin: 1.5rem auto;
    padding: 1.5rem;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container .content p {
    display: flex;
    justify-content: space-between;
}


.tdprofit {
    color: #12f98a;
}

.tdloss {
    color: #f91257;
}