:root {
    --background-dark: #222;        /* Fundo escuro */
    --header-dark: #333;            /* Header escuro */
    --text-color: #fff;             /* Texto branco */
    --input-border: #444;           /* Borda do input */
    --input-background: #333;       /* Fundo do input */
    --in-progress-border: #FFD700;  /* Borda amarela para tarefas em andamento */
    --in-progress-fill: #FFEB3B;    /* Preenchimento amarelo para tarefas em andamento */
    --in-progress-text: #b29600;
    --completed-border: #4CAF50;    /* Borda verde para tarefas concluídas */
    --completed-fill: #8BC34A;      /* Preenchimento verde para tarefas concluídas */
    --button-background: #1E88E5;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
     background-color: var(--background-dark);
     color: var(--text-color);
  }

  body, button, input {
    font-family: 'Roboto', sans-serif;
  }

  h1 {
    font-family: 'Bebas Neue', sans-serif;
  }

  li {
    list-style: none;
  }